body {
    background:linear-gradient(135deg, #ffffff 15%, #de50ba 60%, #31a7d1 90%);
}

.navbar{
    background-color:#FFF13D !important;
}

.navbar .navbar-brand, .navbar .nav-link{
    color: #000000;
}

.navbar .nav-link:hover, .navbar .nav-link.active{
    color: #464646;
}